@import 'tailwindcss';

/* === DESIGN TOKENS === */
:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/* ==== TAILWIND THEME === */
@theme{
    /* colors */
    --color-bg: var(--rose-50);
    --color-surface: var(--white);
    --color-text: var(--stone-900);
    --color-muted: var(--stone-600);
    --color-primary: var(--brown-800);
    --color-secondary: var(--rose-800);
    --color-border: var(--stone-150);

    /* typography */
    --font-sans: 'Outfit', sans-serif;
    --font-serif: 'Young Serif', serif

}

/* === BASE LAYER === */
@layer base {
    body {
        @apply bg-bg text-text
    }

    p {
        @apply text-muted
    }
}